<a href={{href}} class="stock__stock-item stock-item">
  <div class="stock-item__section">
    <div class="stock-item__image" style="background-image: url('./assets/images/{{image}}')"></div>
  </div>
  <div class="stock-item__section">
    <h3 class="stock-item__title">{{title}}</h3>
    <div class="stock-item__description">
      {{#if make}}
      <p class="stock-item__description-item">Brand: {{make}}</p>
      {{/if}}
      {{#if model}}
      <p class="stock-item__description-item">Model: {{model}}</p>
      {{/if}}
      {{#if type}}
      <p class="stock-item__description-item">Type: {{type}}</p>
      {{/if}}
      {{#if payload}}
      <p class="stock-item__description-item">Payload: {{payload}}</p>
      {{/if}}
      {{#if gross_weight}}
      <p class="stock-item__description-item">Gross weight: {{gross_weight}}</p>
      {{/if}}
    </div>
    <div class="stock-item__tags">
      {{#if year}}
      <div class="stock-item__tag" title="Year">{{year}}</div>
      {{/if}}
      {{#if mileage}}
      <div class="stock-item__tag" title="Mileage">{{mileage}} {{mileage_measure}}</div>
      {{/if}}
      {{#if power}}
      <div class="stock-item__tag" title="Power">{{power}} {{power_measure}}</div>
      {{/if}}
      {{#if axle_configuration}}
      <div class="stock-item__tag" title="Axle configuration">{{axle_configuration}}</div>
      {{/if}}
    </div>
  </div>
  <div class="stock-item__section">
    <div class="stock-item__price">{{price}} {{price_currency}}</div>
  </div>
</a>
